{
	"semi": true,
	"trailingComma": "all",
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"jsxSingleQuote": true,
	"quoteProps": "consistent",
	"proseWrap": "always",
	"plugins": ["prettier-plugin-tailwindcss"]
}
